.hero{  
  .hero-text{
        
    @media(max-width: 639px){   
      margin-top: 20%;
      margin-bottom: 17%;
      max-width: 33rem;
      margin-left: auto;
      margin-right: auto;


      h1{
        font-size: 2rem;
      }

      p{
        line-height: 1.75rem;
      }
    }
    
    @media(max-width:359px){
      h1{
        white-space: normal;
      }
    }
  }

  .hero-background{
    z-index: -1;
  }

  @media(min-width:1440px){

    .hero-text{
      margin-top: 9rem;
    }
  }

	.hero-background{
		.screen{
			background: linear-gradient(90deg,rgb(32, 44, 55), 80%, rgba(124, 105, 105,0.3));
		}
	}

  button{
    border: 0.1px solid #6cfdf0;

    &:hover{
      background: #6cfdf0;
    }
  }
}