.hero{  
  .hero-text{
        
    @media(max-width: 639px){   
      top:15%;

      h1{
        white-space: nowrap;
        font-size: 2rem;
      }
    }

    @media(max-width:359px){
      top: 6%;

      h1{
        white-space: normal;
      }
    }

  }

  @media(min-width:480px){
    height: 60vh;
  }  
  
  
  @media(min-width:720px){
    height: 70vh;
  }

  @media(min-width:1440px){
    min-height: 65vh;

    .hero-text{
      top: 9rem;
    }
  }

	.hero-background{
		.screen{
			background: linear-gradient(90deg,rgb(32, 44, 55), 80%, rgba(124, 105, 105,0.3));
		}
	}

  button{
    border: 0.1px solid #6cfdf0;

    &:hover{
      background: #6cfdf0;
    }
  }
}